.header {
  width: 100%;
  height: 400px;
  background-color: #ffbb47; /* Different color from nav and body */
  background-image: url('https://www.transparenttextures.com/patterns/beige-paper.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-right: 150px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notBold {
  font-weight: normal;
}

.name {
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .header {
    width: 50%;
  }
}