nav {
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 150%;
}

nav .write-new-tweet-container i {
  font-size: 27px;
  color: red;
  margin-top: 6px;
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}

.write-new-tweet-container {
  text-align: center;
}

.write-new-tweet-container p {
  margin: 0;
  font-size: 1em;
}

.write-new-tweet-container i {
  font-size: 1.5em;
  margin-top: 0.5em;
}

@media (min-width: 768px) {
  nav {
    background-color: #4056A1;
    position: fixed;
  }
}